apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.name }}
    spec:
      containers:
        - name: flask-api
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
          env:
            - name: APP_ENV
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.name }}-config
                  key: APP_ENV
            - name: GREETING
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.name }}-config
                  key: GREETING
            - name: APP_VERSION
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.name }}-config
                  key: APP_VERSION

          livenessProbe:
            httpGet:
              path: {{ .Values.livenessProbe.path }}
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}

          readinessProbe:
            httpGet:
              path: {{ .Values.readinessProbe.path }}
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}

          resources:
{{ toYaml .Values.resources | indent 12 }}

      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}

      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}

      affinity:
{{ toYaml .Values.affinity | indent 8 }}
