name: flask-api-demo

replicaCount: 1

image:
  repository: flask-api
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 5000

ingress:
  enabled: false
  host: flask.local
  annotations: {}
  tls: []

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}

env:
  APP_ENV: "dev"
  GREETING: "Hello"
  APP_VERSION: "v0.0.1"

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

livenessProbe:
  path: /health
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  path: /health
  initialDelaySeconds: 5
  periodSeconds: 5
