name: CD - Helm Deploy to EKS

on:
  workflow_run:
    workflows: ["CI - Build & Push"]
    types:
      - completed

permissions:
  contents: read
  id-token: write

env:
  AWS_REGION: us-east-1
  CLUSTER_NAME: skillupwithsachin
  HELM_RELEASE: flask-api
  HELM_CHART_PATH: charts/flask-api
  ECR_REGISTRY: 975050179352.dkr.ecr.us-east-1.amazonaws.com
  ECR_REPOSITORY: skillupwithsachin

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    environment: dev     # <--- CHANGE THIS: dev, staging, production

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Configure AWS credentials (Static)
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Debug AWS env
        run: env | grep AWS || echo "No AWS environment variables set."

      - name: Debug AWS Identity
        run: aws sts get-caller-identity

      - name: Install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig \
            --name $CLUSTER_NAME \
            --region $AWS_REGION

      - name: Determine image tag from CI workflow
        id: image-tag
        run: |
          IMAGE_TAG=${{ github.event.workflow_run.head_sha }}
          SHORT_TAG=$(echo "$IMAGE_TAG" | cut -c1-7)
          echo "SHORT_TAG=$SHORT_TAG" >> $GITHUB_ENV
          echo "Using image tag: $SHORT_TAG"

      - name: Helm Lint
        run: |
          helm lint $HELM_CHART_PATH

      - name: Helm Deploy
        run: |
          helm upgrade --install $HELM_RELEASE $HELM_CHART_PATH \
            -f $HELM_CHART_PATH/values.yaml \
            --set image.repository=${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }} \
            --set image.tag=latest \
            --namespace flask-demo \
            --create-namespace \
            --wait

      - name: Verify Deployment
        run: |
          kubectl rollout status deployment/${HELM_RELEASE}-demo -n flask-demo --timeout=120s
          kubectl get pods -l app=${HELM_RELEASE}-demo -n flask-demo
          kubectl get svc | grep $HELM_RELEASE || true
